<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | Best Shop</title>
    <link rel="stylesheet" href="/scss/main.scss" />
    <script src="/ts/main.ts" type="module"></script>
</head>

<body>
    <%- include('html/_header.html') %>

        <div class="top-hero top-hero-big about-hero">
            <div>
                <h1 class="bold-700">About Us</h1>
                <p>Duis vestibulum elit vel neque pharetra vulputate.</p>
                <p>Duis rutrum non risus in imperdiet. </p>
            </div>

        </div>

        <main class="container">
            <section class="icon-info">
                <div class="icon-info-item">
                    <div>
                        <img src="/images/iconAccuracy.png" alt="" />
                    </div>

                    <p class="bold-700">Superior Accuracy</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore libero veritatis.</p>
                </div>

                <div class="icon-info-item">
                    <div>
                        <img src="/images/iconAward.png" alt="" />
                    </div>

                    <p class="bold-700">Awards</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore libero veritatis.</p>
                </div>

                <div class="icon-info-item">
                    <div>
                        <img src="/images/iconEco.png" alt="" />
                    </div>

                    <p class="bold-700">Ecological</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore libero veritatis.</p>
                </div>

                <div class="icon-info-item">
                    <div>
                        <img src="/images/iconGlobe.png" alt="" />
                    </div>

                    <p class="bold-700">Shipping Worldwide</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore libero veritatis.</p>
                </div>
            </section>

            <section class="container arrivals">
                <div class="arrivals-left">
                    <h2 class="bold-900">New Arrivals Every Week</h2>
                    <p>Duis vestibulum elit vel neque pharetra vulputate. Quisque scelerisque nisi
                        urna. Duis rutrum non risus in imperdiet. Proin molestie accumsan nulla sit.
                        Quisque scelerisque nisi urnauis rutrum.</p>
                    <p>Vitrumuis vestibulum elit vel neque pharetra vulputate. Quisque scelerisque nisi urna. Duis
                        vestibulum elit vel neque pharetra vulputateuisque scelerisque nisi urna.</p>
                    <p><a href="/catalog" class="btn btn-primary">See All Models</a></p>
                </div>
                <img src="/images/arrivals.png" />
            </section>

            <section class="container container-centered team" id="new-products">
                <div class="team-title">
                    <h1>Our Incredible Team</h1>
                </div>
                <div class="team-cards">
                    <div class="team-cards-item">
                        <img src="/images/team1.png">
                        <h2 class="bold-700">NATALIA FOSTER</h2>
                        <p>Product Manager</p>
                    </div>
                    <div class="team-cards-item">
                        <img src="/images/team2.png">
                        <h2 class="bold-700">ALEXANDRA THOMPSON</h2>
                        <p>Graphic Designer</p>
                    </div>
                    <div class="team-cards-item">
                        <img src="/images/team3.png">
                        <h2 class="bold-700">IRYNA BROOKS</h2>
                        <p>Head Of Marketing</p>
                    </div>
                </div>

            </section>

            <section class="container banner">
                <div class="banner-left">
                    <p class="bold-900">50%</p>
                    <p>Curabitur vulputate arcu odio, ac facilisis diam.</p>
                </div>
                <div class="banner-right">
                    <h2 class="bold-900">Offer Of The Month</h2>
                    <p>Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut imperdiet et leo in vulputate.
                    </p>
                    <p><a href="#" class="btn btn-primary">Get Offer Today</a></p>
                </div>
            </section>
        </main>
        <%- include('html/_footer.html') %>
</body>

</html>