<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog | Best Shop</title>
    <link rel="stylesheet" href="/scss/main.scss" />
    <script src="/ts/main.ts" type="module"></script>
</head>

<body>
    <%- include('html/_header.html') %>
        <main class="container">
            <section class="catalog-settings">
                <p id="pagination-summary">Showing 1-12 Of 15 Results</p>
                <div class="basic-form settings-form">
                    <div class="form-row">
                        <img id="filter" src="/images/filterIcon.png" alt="">
                    </div>
                    <div class="form-row">
                        <label for="sorting" hidden>Sorting</label>
                        <div class="select-wrapper">
                            <select name="sorting" id="sorting">
                                <option value="default" selected>Default Sorting</option>
                                <option value="priceA">Price (from lowest)</option>
                                <option value="priceD">Price (from highest)</option>
                                <option value="popularity">Popularity (from highest)</option>
                                <option value="rating">Rating (from highest)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="search-wrapper fake-placeholder">
                            <label for="search" hidden>Search Models</label>
                            <input type="text" id="search" name="search" autocomplete="off"
                                placeholder="Search Models" />
                        </div>
                    </div>
                </div>
            </section>
            <section id="filter-details" hidden>
                <hr />

                <div class="basic-form">
                    <div class="form-row">
                        <label for="size-select" class="bold-700">Size</label>
                        <div class="select-wrapper">
                            <select name="size" id="size-select">
                                <option value="" selected>Choose option</option>
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                                <option value="s,m,l">S-L</option>
                                <option value="s,m,xl">S, M, XL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="color-select" class="bold-700">Color</label>
                        <div class="select-wrapper">
                            <select name="color" id="color-select">
                                <option value="" selected>Choose option</option>
                                <option value="red">Red</option>
                                <option value="blue">Blue</option>
                                <option value="green">Green</option>
                                <option value="black">Black</option>
                                <option value="grey">Grey</option>
                                <option value="yellow">Yellow</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="category-select" class="bold-700">Category</label>
                        <div class="select-wrapper">
                            <select name="category" id="category-select">
                                <option value="" selected>Choose option</option>
                                <option value="carry-ons">Carry-ons</option>
                                <option value="suitcases">Suitcases</option>
                                <option value="luggage sets">Luggage sets</option>
                                <option value="kids' luggage">Kids' luggage</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-row">
                        <label for="sales-checkbox">Sales</label>
                        <input type="checkbox" id="sales-checkbox" />
                    </div>
                </div>

                <hr />
                <div class="filter-buttons">
                    <button class="btn btn-primary" id="filter-clear">CLEAR FILTERS</button>
                    <button class="btn btn-primary" id="filter-hide">HIDE FILTERS</button>
                </div>

            </section>
            <section class="catalog-products">
                <div class="catalog-products-items">

                </div>
                <div class="catalog-products-sets">
                    <h3 class="bold-700">Top Best Sets</h3>
                    <div class="set-card">
                        <img src="/images/SET017.png" alt="">
                        <div class="set-card-details">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit ullam
                            </p>
                            <p><span class="golden">★★★★</span>★</p>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class="set-card">
                        <img src="/images/SET018.png" alt="">
                        <div class="set-card-details">
                            <p>
                                Lorem ipsum dolor, aut, suscipit dolore exercitationem corrupti sint nemo
                            </p>
                            <p><span class="golden">★★★★★</span></p>
                            <p>$1200</p>
                        </div>
                    </div>
                    <div class="set-card">
                        <img src="/images/SET017.png" alt="">
                        <div class="set-card-details">
                            <p>
                                Lorem ipsum dolor sit exercitationem adipisicing elit ullam
                            </p>
                            <p><span class="golden">★★★★★</span></p>
                            <p>$1600</p>
                        </div>
                    </div>
                </div>
            </section>
            <div id="pagination-controls" class="pagination-controls"></div>
        </main>
        <%- include('html/_footer.html') %>
</body>

</html>