@use '../abstracts/mixins' as *;

.banner {
    @include grid(2);

    background: linear-gradient(rgb(0 0 0 / 35%), rgb(0 0 0 / 35%)), url('/images/banner.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    padding: 0 5%;
    margin-bottom: 150px;

    &-left {
        text-align: center;

        p:nth-child(1) {
            font-size: 180px;
        }

        p {
            color: white;
            letter-spacing: 2px;
        }
    }

    &-right {
        margin: auto 0;
        padding-right: 20%;

        h2 {
            font-size: 40px;
            color: white;
        }

        p {
            color: white;
            margin: 20px 0 40px;
        }
    }
}