@use '../abstracts/variables' as *;

.btn {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;

  &--primary {
    background: $primary;
    color: white;

    &:hover {
      background: $primary-dark;
    }
  }

  &--secondary {
    background: white;
    color: $primary;
  }
  a{
    color:white;
    text-decoration: none;
    font-weight: 700;
  }
}