@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    &.hidden {
        display: none;
    }
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 450px;
    height: 350px;

    form {
        @include grid(1, auto);

        height: 100%;

        .form-row-flex {
            @include flex(space-between, center);
            
            text-align: center;

            label {
                margin: 0;
            }

            a {
                color: $primary;
                text-decoration: none;
            }

            #remember-me {
                margin-right: 20px;
                width: auto;
            }
        }

        input {
            padding: 8px;
            width: 100%;
        }

        label {
            display: block;
            margin: 10px 0;

            span {
                color: $primary;
            }
        }
    }

}

.password-wrapper {
    position: relative;
    display: flex;

    input {
        flex: 1;
    }

    #toggle-password {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 8px;
        width: 18px;
        height: 14px;
    }
}

button {
    margin-top: 10px;
    width: 100%;
}