@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.form-row:has(> .star-wrap) {
    @include flex(start, center);
}

.star-wrap {
    @include flex(start, start);
    
    flex-direction: row-reverse;
    position: relative;

    .star {
        position: absolute;
        left: -9999px;

        &-label {
            cursor: pointer;
            font-size: 28px;
            color: #ccc;
        }
    }

    .star-label:hover,
    .star-label:hover~.star-label {
        color: $golden;
    }

    .star:checked~.star-label {
        color: $golden;
    }
}

.star-title {
    color: black;
    margin-right: 20px;
}