@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

footer {
  .footer-benefits {
    background: #504E4A;
    padding: 40px 0;
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='40' viewBox='0 0 200 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15 Q50 0 100 15 T200 15' fill='none' stroke='gray' stroke-width='1'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 200px 40px; // 👈 wider = lower frequency

    h2 {
      color: white;
    }

    ul {
      @include grid(4, 150px);

      list-style-type: none;
      margin-top: 20px;
    }

    li {
      @include flex(center, center);
      
      color: white;
      font-size: 14px;

      &::before {
        content: '';
        display: inline-block;
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i})::before {
          background-image: url('/images/benefits#{$i}.png');
        }
      }
    }

  }

  .container.footer-grid {
    @include grid(2, 150px);

    .footer-links {
      @include grid(3);

      div {
        h4 {
          margin-top: 50px;
          margin-bottom: 20px;
          font-size: 15px;

          a {
            color: black;
            text-decoration: none;
          }
        }

        a {
          color: black;
          text-decoration: none;
        }

        p {
          font-size: 14px;
          line-height: 170%;
        }
      }
    }

    .shipping-info {
      h4 {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 15px;
        color: black;
      }

      p {
        font-size: 14px;
        line-height: 170%;
      }
    }

    .footer-right {
      h4 {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 15px;

        a {
          color: black;
          text-decoration: none;
        }
      }

      p {
        font-size: 14px;
        letter-spacing: 0%;
      }

      .contact-info {
        @include grid(2);

        margin-top: 20px;
      }

      .contact-icon {
        background-repeat: no-repeat;
        background-position: left center;
        padding: 10px 0 10px 40px;
      }

      .contact-phone {
        background-image: url("/images/contactPhone.png");
      }

      .contact-address {
        background-image: url("/images/contactEmail.png");
      }

      .contact-hours {
        background-image: url("/images/contactHours.png");
      }

      .contact-address {
        background-image: url("/images/contactAddress.png");
      }
    }

  }

  .footer-copyright {
    margin: 80px auto 40px;

    p {
      color: lightgray;
    }
  }
}