@use '../abstracts/variables' as *;
.bold--700 {
    font-weight: 700;
}

.bold--900 {
    font-weight: 900;
}
.golden{
    color:$golden;
}

h1 {
    font-size: 40px;
    color: black;
    font-weight: 900;
}