@use '../abstracts/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  color: $text;
}

.container {
  width: 85%;
  margin: auto;

  &--centered {
    text-align: center;
  }
}

img {
  width: 100%;
  display: block;
}