@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  color: $text;
}

.container {
  width: 85%;
  margin: auto;

  &--centered {
    text-align: center;
  }
}

img {
  width: 100%;
  display: block;
}

.width--full {
  display: block;
  width: 100%;
}

.top__hero {
  @include flex(space-between, center);

  div {
    margin: auto;
    text-align: center;
  }

  h1 {
    color: white;
    font-size: 44px;
  }

  p {
    color: white;
    margin-top: 12px;
    max-width: 700px;
  }

  &--normal {
    height: 200px;
  }

  &--big {
    height: 320px;
  }
}

.icon__info {
  width: 85%;
  margin: 40px auto;
  @include grid(4, 150px);
  text-align: center;

  &__item {
    div {
      @include flex(space-between, center);
      width: 62px;
      height: 62px;
      background-color: $primary;
      margin: 14px auto;

      img {
        width: 34px;
        height: auto;
        margin: auto;
      }
    }

    p:nth-child(2) {
      margin-bottom: 10px;
    }
  }
}

.grid--2 {
  @include grid(2);
}