@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.cart {
    &-hero {
        background: url("/images/cartHero.png") center/cover no-repeat;
    }

    &-container {
        width: 85%;
        margin: 40px auto;
    }

    &-table {
        padding: 16px;

        &-header {
            @include grid(6);

            div {
                color: white;
                text-transform: uppercase;
                font-size: 14px;
                margin: auto;
            }

            background: #5a5652;
        }
    }

    &-items {
        margin-top: 10px;
    }

    &-row {
        @include grid(6);
        
        align-items: center;
        padding: 20px 16px;
        border-bottom: 2px solid $primary;

        div {
            margin: auto;
            color: black;
        }

        .cart-quantity {
            color: black;
        }

        div.cart-delete {
            color: $primary;
        }
    }

    &-image img {
        width: 60px;
    }

    &-quantity {
        @include grid(3);

        .qty-btn {
            background: none;
            border: none;
            font-size: 18px;
            cursor: pointer;
            color: black;
            margin-top: 0;
        }
    }

    &-delete {
        cursor: pointer;
        font-size: 28px;
    }

    &-bottom {
        @include flex(space-between, flex-start);
        
        margin-top: 40px;
        gap: 40px;
    }

    &-actions {
        @include grid(2);
    }

    &-summary {
        background: #5a5652;

        span {
            color: white;
        }

        padding: 30px;
        width: 300px;

        .summary-row {
            @include flex(space-between, center);

            padding: 12px 0;
            border-bottom: 1px solid $primary;
        }

        .summary-row[hidden] {
            display: none;
        }

        button {
            width: 50%;
        }
    }
}