@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.catalog-settings {
    @include grid(2);
    
    margin: 30px 0;

    #pagination-summary {
        margin-right: 50%;
    }

    .settings-form {
        @include flex(end, start);

        .form-row {
            margin: 0 5%;
        }
    }

    #filter {
        cursor: pointer;
        width: 31px;
        height: 31px;
        padding: 6px;
        border: 2px solid $lightgray;
    }

    #search {
        outline: 2px solid $lightgray;
    }

    #sorting {
        min-width: 150px;
    }
}

#filter-details {
    margin-bottom: 30px;

    hr {
        border: 1px solid $primary;
    }

    .basic-form {
        @include grid(4);
    }

    .filter-buttons {
        @include grid(5);
    }
}

.catalog-products {
    @include flex(start, start);

    &-items {
        @include grid(3);

        margin-right: 4%;
        width: 85%;
    }

    &-sets {
        h3 {
            color: black;
            margin-bottom: 10px;
        }

        .set-card {
            @include flex(start, start);

            img {
                height: 80px;
                width: 80px;
                margin: auto;
            }

            &-details {
                margin-left: 10px;
            }
        }
    }    
    
}

.pagination-controls {
    @include flex(center, center);
    
    gap: 12px;
    margin: 24px 0 24px 40%;
    width: 300px;

    button {
        width: 50px;
    }

    .pagination-next,
    .pagination-prev {
        width: 90px;
    }

    .pagination-prev {
        border: 2px solid $primary;
        background: white;
        color: black;
        padding: 8px 14px;
        border-radius: $radius;
        font-weight: 700;
        cursor: pointer;
    }

    .pagination-page {
        min-width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: $radius;
        background: transparent;
        color: $text;
        font-weight: 700;
        border: none;
        cursor: pointer;
        padding: 0 12px;
    }

    .pagination-page.active {
        background: $primary;
        color: white;
        box-shadow: 0 4px 8px rgb(0 0 0 / 6%);
    }

    .pagination-next {
        border: 2px solid $primary;
        background: white;
        color: black;
        padding: 10px 18px;
        border-radius: $radius;
        font-weight: 700;
        cursor: pointer;
    }

    .pagination-prev:hover,
    .pagination-next:hover,
    .pagination-page:hover {
        background: $primary;
        color: white;
    }

    .pagination-page+.pagination-page {
        margin-left: 8px;
    }
}