@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.contact__hero {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/images/contactUsHero.png') center/cover no-repeat;
}

.contact__container {
    height: 620px;
    margin-bottom: 150px;
    @include grid(2, 60px);
    overflow: hidden;

    img {
        height: 550px;
        display: block;
        object-fit: cover;
    }
}