@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.contact__hero {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/images/contactUsHero.png') center/cover no-repeat;
}

.contact__container {
    height: 620px;
    margin-bottom: 150px;
    @include grid(2, 60px);
    overflow: hidden;

    img {
        height: 550px;
        display: block;
        object-fit: cover;
    }

    .contact__form {
        h2 {
            font-size: 20px;
            color: black;
        }

        p {
            margin: 30px 0 40px 0;
        }

        .form__row {
            margin: 30px 0;

            label {
                display: block;
                margin-bottom: 6px;
                color: black;

                span {
                    color: $primary;
                }
            }

            input,
            textarea {
                padding: 8px;
                width: 95%;
                outline: 3px solid $primary-light;
            }

            textarea {
                min-height: 70px;
                resize: none;
                border: none;
            }

            .input__error {
                color: $primary;
                font-size: 13px;
                margin-top: 6px;
                display: none;
            }
        }

        .form__message {
            display: none;
            padding: 0;
            margin: 10px 0 18px;
            border-radius: 4px;

            &.success {
                color: green;
            }

            &.error {
                color: red;
            }
        }

        button {
            width: 120px;
        }
    }
}