@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.contact-hero {
    background: linear-gradient(rgb(0 0 0 / 35%), rgb(0 0 0 / 35%)), url('/images/contactUsHero.png') center/cover no-repeat;
}

.contact-container {
    @include grid(2, 60px);

    height: 620px;
    margin-bottom: 150px;
    overflow: hidden;

    img {
        height: 550px;
        display: block;
        object-fit: cover;
    }
}