@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.product {
    margin-top: 50px;

    &__preview {
        #product-main {
            object-fit: contain;
            width: 100%;
            height: 800px;
            margin-bottom: 20px;
        }

        &__small {
            @include grid(4);

            img {
                cursor: pointer;
                width: 140px;
                height: 140px;
                object-fit: contain;
            }
        }
    }

    &__right {
        text-align: left;

        .product__rating {
            @include flex(start, middle);

            #product-reviews-amount {
                margin: 10px 0 0 5px;
            }

            .golden {
                color: $golden;
            }

            #product-rating-stars {
                font-size: 24px;
            }
        }

        #product-description{
            line-height: 1.5;
        }
        #product-payment {
            @include flex(start, center);
            span{
                color: #727174;
            }
            img {
                width: 45px;
                height: 15px;
                object-fit: contain;
                margin: 0 10px;
            }
        }

        #product-price {
            margin-bottom: 30px;
            color: black;
        }

        #product-form {
            .product__cart__controls {
                @include flex(start, end);

                .quantity__group {
                    @include flex(space-between, center);
                    border: 2px solid $primary;
                    overflow: hidden;
                    background: white;
                    padding-bottom:5px;
                    margin: 5px 12px 0 0;

                    button {
                        width: 38px;
                        height: 29px;
                        padding-bottom: 5px;
                        border: none;
                        background: transparent;
                        font-size: 18px;
                        cursor: pointer;
                    }

                    #product-quantity {
                        min-width: 38px;
                        height: 29px;
                        font-size: 22px;
                        padding: 3px 12px;
                    }
                }

                #add-to-cart {
                    width:100%;
                }
            }
        }
    }
}


.tabs {
    margin-bottom: 100px;
    margin-top: 100px;

    &__headers {
        @include flex(center, center);

        &__item {
            margin: 0 40px;

            h2 {
                margin-bottom: 50px;
                padding-bottom: 10px;
                color: black;
                cursor: pointer;
            }

            h2.item--active {
                border-bottom: 2px solid $primary;
            }
        }
    }

    &__items {
        &--wrap {
            white-space: pre-line;
        }

        text-align: left;
    }
}

#reviewText {
    min-height: 160px;
}

#saveName~label {
    color: $text;
}

.review {
    margin-top: 50px;

    &__avatar {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__person {
        @include flex(start, start);
    }

    &__stars {
        display: inline-block;
        margin-left: 12px;
        font-size: 28px;
        color: #f3b400;
    }

    &__body {
        padding: 0 56px;
        font-size: 18px;
    }
}