<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Best Shop
    </title>
    <link rel="stylesheet" href="/scss/main.scss" />
    <script src="/ts/main.ts" type="module"></script>
</head>

<body>
    <%- include('html/_header.html') %>
        <main>

            <!-- HERO -->
            <section class="hero">
                <div class="container hero__grid">
                    <div class="hero__content">
                        <p class="bold--900">Smart Styles for</p>
                        <p class="bold--900">Every Destination</p>
                        <div class="hero__description">
                            <span>Phasellus risus turpis, pretium sit amet magna non, molestie ultricies enim.</span>
                            <span>Nullam pulvinar felis at metus.</span>
                        </div>
                        <a href="#" class="btn btn--primary">View All Items</a>
                    </div>
                    <div class="hero__image">
                        <img src="images/hero.png" alt="Suitcase" />
                    </div>
                </div>
            </section>

            <!-- HERO-CARD -->
            <section class="hero__card">
                <div class="hero__card__left">
                    <div class="person">
                        <img src="images/person.png" alt="Person" />
                        <div class="person__info">
                            <p class="bold--700">Lillian Bennett</p>
                            <p>Chief Marketing Officer</p>
                        </div>
                    </div>
                    <div class="text">
                        <h2>Aliquam Faucibus Odionecom.</h2>
                        <span>Duis vestibulum elit vel neque pharetra vulputate.
                            Quisque scelerisque nisi urna. Duis rutrum non risus in
                            imperdiet. Proin molestie accumsan nulla sit.</span>
                        <span>Namaki duis vestibulum elit vel neque pharetra vulputate.
                            Quisque scelerisque nisi urna.</span>
                    </div>
                </div>
                <div class="hero__card__right">
                    <h3>25 % Discount</h3>
                    <span>Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut imperdiet et leo in
                        vulputate.</span>
                    <p><a href="#" class="btn btn--primary">Get Discount</a></p>
                </div>
            </section>

            <!-- TRAVEL SUITCASES -->
            <section class="container container--centered">
                <h1>Travel Suitcases</h1>
                <p>Duis vestibulum elit vel neque pharetra</p>
                <div class="gallery">
                    <div class="gallery__viewport">
                        <div class="gallery__track" id="track">
                            <div class="gallery__slide">
                                <img src="/images/gallery1.png" alt="Suitcase 1" />
                                <div class="gallery__slide__overlay">
                                    <div>
                                        <h2>Duis vestibulum elit vel neque.</h2>
                                        <p>Duis vestibulum vel neque pharetra vulputate. Quisque scelerisque nisi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <img src="/images/gallery2.png" alt="Suitcase 2" />
                                <div class="gallery__slide__overlay">
                                    <div>
                                        <h2>Duis vestibulum elit vel neque.</h2>
                                        <p>Duis vestibulum vel neque pharetra vulputate. Quisque scelerisque nisi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <img src="/images/gallery3.png" alt="Suitcase 3" />
                                <div class="gallery__slide__overlay">
                                    <div>
                                        <h2>Duis vestibulum elit vel neque.</h2>
                                        <p>Duis vestibulum vel neque pharetra vulputate. Quisque scelerisque nisi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <img src="/images/gallery4.png" alt="Suitcase 4" />
                                <div class="gallery__slide__overlay">
                                    <div>
                                        <h2>Duis vestibulum elit vel neque.</h2>
                                        <p>Duis vestibulum vel neque pharetra vulputate. Quisque scelerisque nisi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <img src="/images/gallery1.png" alt="Suitcase 1" />
                                <div class="gallery__slide__overlay">
                                    <div>
                                        <h2>Duis vestibulum elit vel neque.</h2>
                                        <p>Duis vestibulum vel neque pharetra vulputate. Quisque scelerisque nisi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <img src="/images/gallery2.png" alt="Suitcase 2" />
                                <div class="gallery__slide__overlay">
                                    <div>
                                        <h2>Duis vestibulum elit vel neque.</h2>
                                        <p>Duis vestibulum vel neque pharetra vulputate. Quisque scelerisque nisi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <img src="/images/gallery3.png" alt="Suitcase 3" />
                                <div class="gallery__slide__overlay">
                                    <div>
                                        <h2>Duis vestibulum elit vel neque.</h2>
                                        <p>Duis vestibulum vel neque pharetra vulputate. Quisque scelerisque nisi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__slide">
                                <img src="/images/gallery4.png" alt="Suitcase 4" />
                                <div class="gallery__slide__overlay">
                                    <div>
                                        <h2>Duis vestibulum elit vel neque.</h2>
                                        <p>Duis vestibulum vel neque pharetra vulputate. Quisque scelerisque nisi.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="gallery__btn gallery__btn--left" id="prev">&#10094;</button>
                    <button class="gallery__btn gallery__btn--right" id="next">&#10095;</button>
                </div>
            </section>

            <!-- SELECTED PRODUCTS -->
            <section class="container container--centered product__block" id="selected-products">
                <h1>Selected Products</h1>
                <p>Duis vestibulum elit vel neque pharetra</p>
                <div class="product__block__grid">

                </div>
            </section>

            <!-- BANNER -->
            <section class="container banner">
                <div class="banner__left">
                    <p class="bold--900">50%</p>
                    <p>Curabitur vulputate arcu odio, ac facilisis diam.</p>
                </div>
                <div class="banner__right">
                    <h2 class="bold--900">Offer Of The Month</h2>
                    <p>Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut imperdiet et leo in vulputate.
                    </p>
                    <p><a href="#" class="btn btn--primary">Get Offer Today</a></p>
                </div>
            </section>

            <!-- NEW PRODUCTS -->
            <section class="container container--centered product__block" id="new-products">
                <h1>New Products Arrival</h1>
                <p>Duis vestibulum elit vel neque pharetra</p>
                <div class="product__block__grid">
                </div>
            </section>

            <!-- TESTIMONIALS -->
            <section class="container container--centered testimonial__block">
                <h1>Our Grateful Customers</h1>
                <p>Duis vestibulum elit vel neque pharetra</p>
                <div class="testimonial__block__grid">
                    <div class="testimonial__card">
                        <img src="/images/testimonial1.png" alt="Testimonial 1" />
                        <p class="testimonial__text">Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut
                            imperdiet et leo in vulputate.</p>
                        <p class="bold--900">Ethan Wade, New York</p>
                    </div>
                    <div class="testimonial__card">
                        <img src="/images/testimonial2.png" alt="Testimonial 2" />
                        <p class="testimonial__text">Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut
                            imperdiet et leo in vulputate.</p>
                        <p class="bold--900">Jane Reyes, California</p>
                    </div>
                    <div class="testimonial__card">
                        <img src="/images/testimonial3.png" alt="Testimonial 3" />
                        <p class="testimonial__text">Curabitur vulputate arcu odio, ac facilisis diam accumsan ut. Ut
                            imperdiet et leo in vulputate.</p>
                        <p class="bold--900">Erica Banks, Miami</p>
                    </div>
                </div>
            </section>
        </main>

        <%- include('html/_footer.html') %>

</body>

</html>